body {background-image:D:\Pics\gun__1306483614_pots2011_2large.jpg; font-family:Comic Sans MS; font-weight:bold; color:gold }
a:link {color:beige}
a:visited {color:coral}
a:active {color:azure}
a:hover {color:navy}